COMPOSE_PROJECT_NAME=inception
DOMAIN_NAME=LOGIN.42.fr
DATA_PATH=/home/LOGIN/data

MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_BACKUP_USER=wordpress_backup

WP_TITLE=Inception
WP_ADMIN_USER=siteowner
WP_ADMIN_EMAIL=siteowner@LOGIN.42.fr
WP_USER=author
WP_USER_EMAIL=author@LOGIN.42.fr

FTP_USER=wpfiles
FTP_PORT=2121
FTP_PASV_MIN_PORT=21100
FTP_PASV_MAX_PORT=21110

BACKUP_SCHEDULE="17 3 * * *"
